<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Supply Exchange - Donate</title>
    <link rel="stylesheet" href="../static/styles/home.css">
</head>
<body>
    <div class="exchange-container">
        <div class="logo">
            <h1>School Supply Exchange</h1>
        </div>
    </div>

    <div class="donation-options">
        <div class="donation-option">
            <img class="icon" src="../static/images/school-supplies-svgrepo-com.svg" alt="School Supplies Icon">

            <h2>Donate School Supplies</h2>
            <p>Help students by providing essential school supplies.</p>
            <button class="donate-button" onclick="location.href='school_supplies_donation.html'">Donate Now</button>
        </div>
        <div class="donation-option">
            <img class="icon" src="../static/images/money-svgrepo-com.svg" alt="Money Icon">
            <h2>Donate Money</h2>
            <p>Contribute financially to support education initiatives.</p>
            <button class="donate-button" onclick="location.href='money_donation.html'">Donate Now</button>
        </div>
    </div>

    <div class="footer-banner">
        <img src="../static/images/AdobeStock_529767356.png" alt="Cloud Banner">
    </div>
</body>
</html>
