<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}Home - School Supply Exchange{% endblock %}

{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School List</title>
    <link rel="stylesheet" href="../static/styles/school_list.css">

</head>
<body>
    <h1 class="title">Schools in Need</h1>
    <ul>
        {% for school in schools %}
            <a href="{{ url_for('views.school_donation_page', school_id=school.id) }}">

                <div class="container">
                    <img class="school-img" src="{{ url_for('static', filename=school.school_img) }}" alt="{{ school.name }} Image">
                    <div>
                        <h1>{{ school.name }} Donation Page</h1>
                        <p>{{ school.description | truncate(100, '...') }}</p>

                        <div class="progress-bar">
                        <div class="progress" style="width: {{ (school.current_funds / school.donation_goal) * 100 }}%;"></div>
                        </div>
                        <p>Donation Goal: ${{ school.donation_goal }}</p>
                        <p>Current Funds: ${{ school.current_funds }}</p>
                    </div>

                </div>
            </a>

        {% endfor %}
    </ul>
</body>
</html>

{% endblock %}
