body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-top: 40px;
}

header {
    background-color: #2980b9;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.web_logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.web_logo img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}
.user-controls a {
    color: #fff; /* Text color */
    text-decoration: none; /* Remove underlines */
    padding: 10px 15px; /* Add padding for better appearance */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth color transition on hover */
    margin-right: 20px;
}

.user-controls a:hover {
    background-color: #2980b9; /* Darker blue on hover */
}


