body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #2980b9;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.web_logo {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.web_logo img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}

.logo h1 {
    margin: 0;
    font-size: 1.5em;
    text-align: center;
}

.user-controls a {
    color: #3498db;
    text-decoration: none;
}

.user-controls a:hover {
    text-decoration: underline;
}
