body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background: linear-gradient(to right, #ffcc66, #ff9900);
    padding: 0;
}

.top-container {
    max-width: 90%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin: 20px auto 30px;
}

.container {
    width: 90%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;

}

.container-left,
.container-right {
    width: 48%;
}

.container-left {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-right: 15px;
}
.container-right {
    margin-left: 15px;
}

.map-div,
.sub-div {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;

}

.sub-div {
    label {
        display: block;
        margin-bottom: 10px;
        font-size: 16px;
        color: #333;
    }

    input {
        padding: 8px;
        font-size: 14px;
    }

    button {
        padding: 10px 15px;
        font-size: 16px;
        background-color: #3498db;
        color: #fff;
        border: none;
        cursor: pointer;
    }

    button:hover {
        background-color: #2980b9;
    }
}


.school-img {
    width: 100px;
    height: auto;
    max-height: 200px;
    object-fit: cover;
}

.container h1 {
    color: #3498db;
}

p {
    margin-bottom: 15px;
    line-height: 1.5;
}

.progress-bar {
    width: 100%;
    height: 20px;
    background-color: #eee;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 15px;
}

.progress {
    height: 100%;
    width: {{ (school.current_funds / school.donation_goal) * 100 }}%;
    background-color: #2ecc71;
    transition: width 0.3s ease-in-out;
}

/*CSS For the MAP*/
#map {
    height: 300px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}